<%- include('header.ejs') %>

    <body>
        <h1>New Jobs</h1>
        <form class="newForm" action="/jobs" method="POST">
            Name: <input type="text" name="name">
            <br>
            Description: <input type="text" name="description">
            <br>
            Link: <input type="text" name="link">
            <br>
            Payrange: <input type="text" name="payrange" >
            <br>
            isRemote: <input type="checkbox" name="isRemote" />
            <br>
            <input type="submit" name="" value="Create Job">
        </form>
        <button class="back">
            <a class="backA" href="/jobs">Back</a>
        </button>
    </body>
</html>