body{
    background-color: aliceblue;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: grey;
    padding: 0 20px 0 10px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 175px;
}

.pRange{
    margin-top: 0px;
}